@media screen and (max-width: 1200px){

   

    .contacts__title {

        font-size: 63px;
        font-family: 'calypsoregular';
        line-height: 64px;
    }

    .contacts__content {
        margin-top: 70px;
    }

    .title__discription {
        margin-top: 15px;
    }

    .tell {

        height: 75px;
        width: 175px;
    }
    
    .mail {
        height: 75px;
        width: 175px;
       
    }
    
    .adres{
        margin-top: 13px;
        height: 75px;
        width: 377px;
       
    }
}