* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'calypsoregular';
    src: url('../font/calypso-webfont.woff') format('woff2'),
         url('../font/Calypso.woff') format('woff'),
         url('../font/Calypso.otf') format('otf'),
         url('../font/Calypso.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../font/latomedium.woff') format('woff'),
         url('../font/latomedium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



html { 
    overflow:  hidden; 
    font-size: 16px;
}

body {
    background: rgba(170, 164, 152, 0.7);  
}

.main {
    display: flex;
    padding-top: 4.37rem;
    padding-bottom: 4.37rem;
}

.contacts {
    flex: 0 0 30%;
    text-align: center;
    padding-right: 54px;
    padding-left: 54px;
}

.logo{
    display: none;
}

.contacts__content{
    margin-top: 125px;
}

.contacts__title{
    margin: 0;
    font-size: 72px;
    font-family: 'calypsoregular';
    line-height: 79px;
    font-weight: 400;
    color: #3F4F61;;
    text-transform: uppercase;
}

.title__discription{
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    margin-top: 35px;
    font-family: lato;
    color: #3F4F61;
}

.contacts__footer{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}


.contacts__item{
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    align-items: center;
    justify-content: center;
    width: max-content;
    font-weight: 500;
    font-family: 'lato';
    font-size: 16px;
     background-color: #3F4F61; 
    color: #C4C0B7;
    border-radius: 20px;
}

.icon__tell{
    display: inline-flex;
    align-items: center;
    height: 25px;
}

.Icon__mail {
    display: inline-flex;
    align-items: center;
    height: 25px;
    margin-top: 5px;
}

.Icon__adres {
    display: inline-flex;
    align-items: center;
    height: 55px;
    margin-top: 5px;
}

.tell {

    height: 88px;
    width: 202px;
}

.mail {
    height: 88px;
    width: 202px;
}

.adres{
    margin-top: 16px;
    height: 88px;
    width: 419px;
}

.contacts__tell{
    margin-right: 14px;
}



.baner{
    flex: 0 0 70%;
}


.baner__img{
    height: 820px;
    width: 101%;
    background-image: url("../img/Rectangle.jpg");
    background-size:contain;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}