@media screen and (max-width: 578px){
    html { 
        overflow: scroll;
    }


    .container{
        background-image: url(../img/Rectangle576.png);
    }

    .main {

        max-height: 677px;

    }

    .logo {
        height: 85px;
    }

    .contacts__title {
        font-size: 48px;
        line-height: 52px;
        margin-top: 23px;
    }

    .title__discription {
        font-size: 17px;
        line-height: 20px;
        margin-top: 34px;
    }

    .contacts__tell{
        margin-right: 3.125vw;

    }

    .tell {
        min-width: 154px;
        height: 73px;
        width: 29.68vw;
    }
    
    .mail {
        min-width: 154px;
        height: 73px;
        width: 29.68vw;
    }
    
    .adres{
        min-width: 318px;
        margin-top: 9px;
        height: 73px;
        width: 62.67vw;
    }

    .icon__tell{
        width: 22px;
        height: 22px;
    }
    
    .Icon__mail {
        width: 28px;
        height: 17px;
        margin-top: 5px;
    }
    
    .Icon__adres {
        width: 22px;
        height: 22px;
        margin-top: 5px;
    }

    .btn {
        grid-gap: 6px;
        font-size: 0.8rem;
    }
}