@media screen and (max-width: 578px){

   
    

    .container{
        position: 0;
    }

    .main {

        padding: 20px;

    } 

    .logo {
        height: 45px;
    }

    .contacts__content {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contacts__title {
        font-size: 48px;
        line-height: 48px;
        margin-top: 23px;
    }

    .title__discription {
        font-size: 17px;
        line-height: 20px;
        width: 100%;
        margin: 0; 
        margin-top: 1vh;
    }

    .contacts__footer{
        margin-top: 3vh;
    }

    .contacts__item {
        display: block;
    }

    .contacts__tell{
        margin-right: 0;

    }

   
   .tell {
       min-width: 171px;
       height: 9.125vh;
       width: 62.67vw
   }
   
   .mail {
       margin-top: 9px;
       min-width: 171px;
       height: 9.125vh;
       width: 62.67vw
   }
   
   .adres{
       min-width: 171px;
       margin-top: 1vh;
       height: 9.125vh;
       width: 62.67vw
   }

    .Icon__mail {
        width: 28px;
        height: 17px;
        margin-top: 5px;
    }
    
    .Icon__adres {
        width: 22px;
        height: 22px;
        margin-top: 5px;
    }

    .btn {
        grid-gap: 6px;
        font-size: 14px;
    }
}