@media screen and (max-width: 1400px){

    .contacts__content{
        margin-top: 55px;
    }

    .contacts__title {

        font-size: 68px;
        font-family: 'calypsoregular';
        line-height: 68px;
    }

    .title__discription {
        margin-top: 20px;
    }

    .baner__img {
        background-image: url(Mask\ Group.jpg);
        height: 620px;
    }

    .tell {

        height: 83px;
        width: 192px;
    }
    
    .mail {
        height: 83px;
        width: 192px;
       
    }
    
    .adres{
        margin-top: 13px;
        height: 83px;
        width: 406px;
       
    }
    
    .contacts__tell{
        margin-right: 22px;
    }
    
    .btn {
        font-size: 14px;
    }
}